fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

p {
  margin: 0 0 5px;
}

.invalid {
  background-color: pink;
}

input[name="zip"]::-webkit-outer-spin-button,
input[name="zip"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[name="zip"] {
  -moz-appearance: textfield;
}